[
  {
    "course_section": "CMSC100",
    "course_name": "Bits and Bytes of Computer and Information Sciences",
    "credits": "1",
    "restrictions": "For first time freshmen and first time transfer students; or permission of CMNS-Computer Science department.",
    "prerequisites": "None",
    "summary": "Students are introduced to the fields (and disciplines) of computer science and information science within a small classroom setting. They will learn to make a successful transition from high school to the university, while exploring study skills, student success plans and research opportunities."
  }
]

